@model Web.Models.Order

@{
    ViewData["Title"] = "CreateOrder";
    ViewBag.Title = "Index";
    var UID = ViewBag.UID;
    var orderlength = ViewBag.orderlength;
    var orderdt = ViewBag.orderdt;
    var allorderslength = ViewBag.allorderslength;
    var usercounter = ViewBag.usercounter;
    var orderallow = ViewBag.orderallow;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@if (orderallow == 1)
{
<h1>Make An Order</h1>
@*<h2>@orderallow</h2>*@
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ocustomerid" class="control-label"></label>
                <input asp-for="Ocustomerid" class="form-control" value=@UID />
                <span asp-validation-for="Ocustomerid" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Datetime" class="control-label"></label>
                <input asp-for="Datetime" class="form-control" autofocus />*@
            @*<input asp-for="Datetime" class="form-control" type="datetime-local" value="2017-06-13T13:00" autofocus />*@
            @*<input asp-for="Datetime" class="form-control" type="datetime-local" value=DateTime.Today autofocus />*@
            @*<span asp-validation-for="Datetime" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
else
{
    <h1>You can't order right now. Wait two hours after previous order.</h1>
}
<div>
    @*<a asp-action="Index">Back to List</a><br>*@
    @*<a asp-action="ToppingsPage">Back to Topping List</a><br>*@
    @*<a asp-action="PizzasPage">Back to Pizza List</a><br>*@
    <a asp-action="OrdersPage" asp-route-uoid=@UID>Back to Order List</a><br>
    @*<a asp-action="UsersPage">Back to User List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
