@model Web.Models.Pizza

@{
    ViewData["Title"] = "CreatePizzaPrev";
    ViewBag.Title = "Index";
    var ID = ViewBag.ID;
    var IDUserid = ViewBag.IDUserid;
    var LIMIT = ViewBag.LIMIT;
    var NumOfP = ViewBag.NumOfP;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Create Your Pizza</h1>

<h4>Select the following</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePizzaPrev">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Nump" class="control-label"></label>
                <input asp-for="Nump" class="form-control" />
                <span asp-validation-for="Nump" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizzaid" class="control-label"></label>
                <input asp-for="Pizzaid" class="form-control" />
                <span asp-validation-for="Pizzaid" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crust" class="control-label"></label>
                <input asp-for="Crust" class="form-control" />
                <span asp-validation-for="Crust" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Porderid" class="control-label"></label>
                <input asp-for="Porderid" class="form-control" value=@ID/>
                <span asp-validation-for="Porderid" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ToppingN1" class="control-label"></label>
                <input asp-for="ToppingN1" class="form-control" />
                <span asp-validation-for="ToppingN1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToppingN2" class="control-label"></label>
                <input asp-for="ToppingN2" class="form-control" />
                <span asp-validation-for="ToppingN2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToppingN3" class="control-label"></label>
                <input asp-for="ToppingN3" class="form-control" />
                <span asp-validation-for="ToppingN3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToppingN4" class="control-label"></label>
                <input asp-for="ToppingN4" class="form-control" />
                <span asp-validation-for="ToppingN4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToppingN5" class="control-label"></label>
                <input asp-for="ToppingN5" class="form-control" />
                <span asp-validation-for="ToppingN5" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a><br>*@
    <a asp-action="PizzasPage" asp-route-opid=@ID>Back to Pizza List</a><br>
    <a asp-action="OrdersPage" asp-route-uoid=@IDUserid>Back to Order List</a><br>
    <a asp-action="UserSignedIn" asp-route-lsid=@IDUserid>Back to User Information</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
